header{
	padding:30px;
}

body{
	background-color: black;
	color: white;
	font-family: Baskerville
}

img{
	width: 300px
}

a{
	color: white;
	font-style: italic
}

#girl {
	width: 50%;
	padding: 10px;
}